:root{
    --white: #FFFFFF ;
    --linen: #F1E6DE ;
    --yellow: #E5BF76 ; 
    --orange: #D6925E ; 
    --green: #537B7A ; 
    --gray: #727272;
}

/* var(--white) */
.body{
    background-color: #F1E6DE;
    /* font-family: 'Noto Sans', sans-serif !important; */
    /* font-family: 'Poppins', sans-serif !important; */
}

.logo{
    color:var(--white); 
    font-family: 'Poppins', sans-serif !important;
}
#footer{
    text-align: center !important;
    color: var(--gray) !important; 
    padding: 1% 0; 
    font-size: 12px;
}

.btn-primary {
    color: white !important;
    background-color: #537B7A !important;
    border: 2px solid #537B7A !important;
    border-radius: 1.5rem !important;
}

.btn-primary:hover{
    background-color: #3d5b5b !important;
    border: 2px solid #3d5b5b !important;
}

.btn-outline-primary { 
    color: #537B7A !important;
    border:2px solid #537B7A !important;
    background-color: transparent !important;
    border-radius: 1.5rem !important;
}

.btn-outline-primary:hover { 
    color: white !important;
    border:2px solid #537B7A !important;
    background-color: #537B7A !important;
}

/* #mainrow{
    background-color: var(--white);
} */

#maincontainer{
   position: relative; 
   text-align: center; 
}

.background-image{
    background-size: cover;
    background-repeat: no-repeat;
}

.taglinesub{ 
    color: white;
    font-weight: bold;
    font-size: 52px;
}

#stats{
    margin: 3% 3%; 
    padding: 3%;
    /* border: 2px solid black;  */
}

.highlight-stats{ 
    color:var(--orange);
    font-weight: bold;
    font-size: 36px;
}

.statstext{
    font-weight: bold;
    font-size: 24px;
    color:var(--gray);

}

.source{
    font-size: 18px; 
    font-weight: normal;
    font-style: italic;
    color: var(--gray);
}

.meet{
    color: var(--white);
    margin-top: 1%;
    font-size: 42px;
    font-weight: bold !important;
    text-align: center;
}

#pawscard{
    /* border: 2px solid black; */
    padding: 3%;
    justify-content: center;
    align-items: center;
}

#homepaws{
    justify-content: center;
    /* padding: 0 5%;  */
}

#clickpaws{
    color: var(--gray) !important;
    text-align: center;
}

.card{
    /* background-color: transparent !important; */
    border: none !important;
    border-radius: 1.5rem !important;
    /* width: 80%; */
}

.card:hover{
    filter: brightness(110%); 
    transform: translate3D(0,-1px,0) scale(1.03);
}

.card-img-top{
    border-radius: 1.5rem 1.5rem 0 0 !important; 
}

.howdiv{
    background-color: var(--white) !important;
}

.meetdiv{
   text-align: center;
}

.how{
    color: var(--green);
    margin-top: 1%;
    padding-top:3%;
    font-size: 42px;
    font-weight: bold !important;
    text-align: center;
}

#squares{
    text-align: center !important;
    justify-content: center;
}

#sqr{
    background: var(--yellow);
    margin: 3%; 
    padding: 0 2%;
    align-items: center;
    align-content: center;
}

.boxtext{
    color:white; 
    align-self: center;
    /* border: 2px solid blue; */
    padding: 1%;
    font-size: 120px;
    line-height: 75%;
    font-weight: bold;
}

.createform{
    margin: 0 auto; 
    display: block; 
    max-width: 700px; 
}

.h1add{
    text-align: center;
    color: var(--green);
    font-weight: bold;
}

#addbtn, #cancel{
    text-align: center;
    padding-left: 3%; 
    padding-right: 3%; 
    margin: 1% 1%; 
}

.buttons{
    text-align: center !important;
}

.addcontainer{
    padding: 3%; 
}