:root{
    --white: #FFFFFF ;
    --linen: #F1E6DE ;
    --yellow: #E5BF76 ; 
    --orange: #D6925E ; 
    --green: #537B7A ; 
    --gray: #727272;
}

#reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  #reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

/* var(--white) */
.body{
    background-color: #F1E6DE;
    /* font-family: 'Noto Sans', sans-serif !important; */
    /* font-family: 'Poppins', sans-serif !important; */
}

.logo{
    color:var(--white); 
    font-family: 'Poppins', sans-serif !important;
}
#footer{
    text-align: center !important;
    color: var(--gray) !important; 
    padding: 1% 0; 
    font-size: 12px;
}

.btn-primary {
    color: white !important;
    background-color: #537B7A !important;
    border: 2px solid #537B7A !important;
    border-radius: 1.5rem !important;
}

.btn-primary:hover{
    background-color: #3d5b5b !important;
    border: 2px solid #3d5b5b !important;
}

.btn-outline-primary { 
    color: #537B7A !important;
    border:2px solid #537B7A !important;
    background-color: transparent !important;
    border-radius: 1.5rem !important;
}

.btn-outline-primary:hover { 
    color: white !important;
    border:2px solid #537B7A !important;
    background-color: #537B7A !important;
}

/* #mainrow{
    background-color: var(--white);
} */

#maincontainer{
   position: relative; 
   text-align: center; 
}

.taglinesub{ 
    color: white;
    font-weight: bold;
    font-size: 52px;
}

#stats{
    margin: 3% 3%; 
    padding: 3%;
    /* text-align: center !important; */
    /* border: 2px solid black;  */
}

.highlight-stats{ 
    color:var(--orange);
    font-weight: bold;
    font-size: 36px;
}

.statstext{
    font-weight: bold;
    font-size: 24px;
    color:var(--gray);

}

.source{
    font-size: 18px; 
    font-weight: normal;
    font-style: italic;
    color: var(--gray);
}

.meet{
    color: var(--white);
    margin-top: 1%;
    font-size: 42px;
    font-weight: bold !important;
    text-align: center;
}

#pawscard{
    /* border: 2px solid black; */
    padding: 3%;
    justify-content: center;
    align-items: center;
}

#homepaws{
    justify-content: center;
    /* padding: 0 5%;  */
}

#clickpaws{
    color: var(--gray) !important;
    text-align: center;
}

#homecards{
    /* background-color: transparent !important; */
    border: none !important;
    border-radius: 1.5rem !important;
    /* width: 80%; */
}

#homecards:hover{
    filter: brightness(110%); 
    transform: translate3D(0,-1px,0) scale(1.03);
}

#homecardimg{
    border-radius: 1.5rem 1.5rem 0 0 !important; 
}

.howdiv{
    background-color: var(--white) !important;
}

.meetdiv{
   text-align: center;
}

.how{
    color: var(--green);
    margin-top: 1%;
    padding-top:5%;
    font-size: 42px;
    font-weight: bold !important;
    text-align: center;
}

#squares{
    text-align: center !important;
    justify-content: center !important;
}

#sqr{
    border: 2px solid black !important;
    /* margin: 5%;  */
    /* padding: 0 2%; */
    align-items: center;
    align-content: center;
}



.boxtext{
    color:white; 
    align-self: center;
    /* border: 2px solid blue; */
    padding: 1%;
    font-size: 120px;
    line-height: 75%;
    font-weight: bold;
}

.createform{
    margin: 0 auto; 
    display: block; 
    max-width: 800px; 
    background: var(--orange);
    box-shadow: 12px 12px var(--gray);
    /* box-shadow: 5px 0 5px -5px var(--gray), -5px 0 5px -5px var(--gray); */
}

#fieldlabel{
    color: white !important; 
    font-weight: bold;
}

.h1add{
    text-align: center;
    color: var(--green);
    font-weight: bold;
}

#addbtn, #cancel{
    text-align: center;
    padding-left: 3%; 
    padding-right: 3%; 
    margin: 1% 1%; 
}

.buttons{
    text-align: center !important;
}

.addcontainer{
    padding: 3%; 
}

.headertext{
    color: white !important; 
    font-family: 'Poppins', sans-serif !important;
    justify-self: center !important;
    font-size: 50px;
}

.searchbar{
    width: 75%;
    height: 50px;
    border-radius: 1.5rem;
    padding: 1%; 
    box-shadow: none; 
    border: none;
}

#listsearchbtn{
    height: 50px !important;
    border-radius: 1.5rem !important; 
    padding: 0 3% !important;
}

#listcardtitle{
    font-family: 'Poppins', sans-serif !important;
    text-transform: uppercase;
}

 
#shelterlists{
    max-width: 60% !important; 
    margin: 2% 20% !important; 
    border-radius: 1.5rem; 
    justify-content: center !important;
}

#shelteratag{
    color: var(--green) !important;
}

#shelteratag:hover{
    color: var(--white) !important; 
}


#shelterlists:hover{
    background: var(--green) !important; 
    border: none;
}

#sheltername{
    /* color: var(--green) !important;  */
    font-family: 'Poppins', sans-serif !important;
    font-weight: bold !important;
}

#shelterlocation{
    /* color: var(--green) !important;  */
    /* font-weight: bold !important; */
}

#pawsshelterinfo{
    background: var(--green) !important; 
    color:white !important;
    padding: 5%; 
}

.editicon, .deleteicon{
    color: var(--green) !important;
    text-decoration: none !important;
    display: inline-block;
}

.editicon:hover, .deleteicon:hover{
    color: var(--white) !important;
    text-decoration: none !important;
    /* background-color: var(--green); */
}

#shelterlink{
    text-decoration: none !important;
    font-weight: bold;
    color: var(--orange) !important; 
}

#shelterlink:hover{
    color: #bd8050 !important; 
}



#pawsname{
    font-weight: bold !important;
    padding-left: 5%; 
}

#pawswatch{
    color: var(--gray) !important;
}

.hlname{
    color: var(--green) !important;
    /* color:var(--orange); */
}

#pagehalf{
    padding-left: 5%; 
    padding-right: 5%;
}

#bold{
    font-weight: bold;
}

#boldme{
    font-weight: bold;
    color:var(--gray);
    font-family: 'Poppins', sans-serif !important;
}

#adddetes{
    color:var(--gray);
    font-weight: bold;
    font-family: 'Poppins', sans-serif !important;
}

#adoptbtns{
    margin-top: 8%; 
}

#h1delete{
    color: var(--green) !important;
    font-weight: bold !important;
    text-align: center !important;
    margin: 3% 0;
}