{% extends 'base.html' %}
{% load static %}

{% block title %}
LifeTimePaws | About
{% endblock %}


{% block content %}

<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-around py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"  style="justify-content: center;">
          <img src="{% static 'images/LTPlogo4.png' %}" style="width:75%;">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      
      <li><a href="/" class="nav-link px-2 link-dark">Home</a></li>
      <li><a href="/about" class="nav-link px-2 link-secondary">About</a></li>
      <li><a href="/dogs" class="nav-link px-2 link-dark">Dogs</a></li>
      <li><a href="/cats" class="nav-link px-2 link-dark">Cats</a></li>
      <li><a href="/shelters" class="nav-link px-2 link-dark">Shelters</a></li>
    </ul>

    <div class="col-md-3 text-end dropdown">
      {% if user.is_authenticated %}
      <a href="#" class="dropdown-toggle text-decoration-none link-dark" id="dropdownuser" data-bs-toggle="dropdown" aria-expanded="false">
     Welcome, {{ user.fullname}}
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownuser" style="">

          <li><a class="dropdown-item" href="{% url 'profile' user.id %}">Profile</a></li>
          {% if request.user.shelter_admin %}
          <li><a href="/paws/new" class="dropdown-item">Add Animals</a></li>
          <li><a href="/shelter/new" class="dropdown-item">Add Shelter</a></li>
          {% endif %}
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/logout">Sign out</a></li>
        </ul>
      {% else %}
      <a href="/login" class="text-decoration-none">
      <button type="button" class="btn btn-outline-primary me-2">Login</button>
      </a>
      <a href="/signup" class="text-decoration-none">
      <button type="button" class="btn btn-primary">Sign-up</button>
      </a>
      {% endif %}
    </div>
  
  </header>


<h1>About</h1>

<h1> Who we are </h1>

<h1> Our mission </h1>
</br>

<h1> How you can help </h1>
<section id="aboutadopt">
    <h2 id="adopt"> Adopt</h2>
</section>


<section id="aboutdonate">
<h2 id="donate"> Donate</h2>
</section>


<section id="abouttravel">
<h2 id="travel"> Become a travel companion </h2>
</section>

</br>
{% endblock %}