{% extends 'baseneutral.html' %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}

{% block title %}
LifeTimePaws | Add an animal
{% endblock %}

{% block content %}
<div class="addcontainer">
    <h1 class="h1add"> Do you know animals that need urgent adoption?</h1>
	<h1 class="h1add">Add New Rescue Paws</h1>
</br>
	<div class="createform p-4">
        <form method="POST" enctype="multipart/form-data" autocomplete="off" class="formpd">
            {% csrf_token %} 
            {{ form.media }}
            <!-- {{ form |crispy}} -->

            <div class="form-group row">
                <div class="form-group col-md-8" id="fieldlabel">
                    {{ form.name|as_crispy_field}}
                </div>
                <div class="form-group col-md-4" id="fieldlabel">
                    {{ form.type|as_crispy_field}}
                </div>
            </div>
            <div id="fieldlabel">
            {{ form.breed|as_crispy_field}}
            </div>
            <div class="form-group row">
                <div class="form-group col-md-4" id="fieldlabel">
                    {{ form.age|as_crispy_field}}
                    <p class="text-muted" style="margin-top:-15px;"> Type year or month </p>
                </div>
                
                <div class="form-group col-md-4" id="fieldlabel">
                    {{ form.sex|as_crispy_field}}
                </div>
                <div class="form-group col-md-4" id="fieldlabel">
                    {{ form.weight|as_crispy_field}}
                    <p class="text-muted" style="margin-top:-15px;"> Weight in pounds </p>
                </div>
            </div>
            <div id="fieldlabel">
            {{ form.shelter|as_crispy_field}}
            </div>
            <div class="form-group row">
                <div class="form-group col-md-6" id="fieldlabel">
                    {{ form.day_entered|as_crispy_field}}
                    <p class="text-muted" style="margin-top:-15px;"> Enter the day this animal entered your shelter </p>
                </div>
                <div class="form-group col-md-6" id="fieldlabel">
                    {{ form.due_date|as_crispy_field}}
                </div>
            </div>
            <div id="fieldlabel">
                {{ form.description|as_crispy_field}}
                {{ form.image|as_crispy_field}}
            </div>
                
            <div class="buttons">
                <button class="btn btn-outline-primary" id="cancel" type = "reset">Reset</button>
                <button class="btn btn-primary" id="addbtn" type = "submit">Submit</button>
            </div>
            
        </form>
    </div>
</div>
</br>
</br>
{% endblock %}