<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button>
      </div>
    </header>
  </div>

  <nav>
    {% if user.is_authenticated %}
    <a href="/admin">Admin</a>
    <a href="{% url 'profile' user.id %}">Welcome, {{ user.fullname }}!</a>
    <a href="/logout">Logout</a>
    {% else %}
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
    {% endif %}
    <a href="/">Home</a>
    <a href="/dogs">Dogs</a>
    <a href="/cats">Cats</a>
    <a href="/shelters">Shelters</a>

    {% if request.user.shelter_admin %}
    <a href="/paws/new">Add animals</a>
    <a href="/shelter/new"> Add Shelter </a>
    {% endif %}

    </nav>

    <div class="flex-shrink-0 dropdown">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>

      <div class="col-md-3 text-end">
        {% if user.is_authenticated %}
        <a href="{% url 'profile' user.id %}">
        <button type="button" class="btn btn-outline-primary me-2">Welcome, {{ user.fullname}} </button>
        </a>
        <a href="/logout">
        <button type="button" class="btn btn-primary">Log out</button>
        </a>
        {% else %}
        <a href="/login">
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        </a>
        <a href="/signup">
        <button type="button" class="btn btn-primary">Sign-up</button>
        </a>
        {% endif %}
      </div>