{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styles.css'%}"/>
    <script src="{% static 'scripts/app.js' %}" defer></script>

    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
    <nav>
    {% if user.is_authenticated %}
    <a href="/admin">Admin</a>
    <a href="{% url 'profile' user.fullname %}">Welcome, {{ user.fullname }}!</a>
    <a href="/logout">Logout</a>
    {% else %}
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
    {% endif %}
    <a href="/">Home</a>
    <a href="/dogs">Dogs</a>
    <a href="/cats">Cats</a>
    <a href="/paws/new">Add animals</a>
    <a href="/shelters">Shelters</a>
    <a href="/shelter/new"> Add Shelter </a>


    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>