{% extends 'base.html' %}
{% load static %}

{% block title %}
LifeTimePaws | Cats
{% endblock %}

{% block content %}
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-around py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"  style="justify-content: center;">
          <img src="{% static 'images/LTPlogo4.png' %}" style="width:75%;">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      
      <li><a href="/" class="nav-link px-2 link-dark">Home</a></li>
      <li><a href="/about" class="nav-link px-2 link-dark">About</a></li>
      <li><a href="/dogs" class="nav-link px-2 link-dark">Dogs</a></li>
      <li><a href="/cats" class="nav-link px-2 link-secondary">Cats</a></li>
      <li><a href="/shelters" class="nav-link px-2 link-dark">Shelters</a></li>
    </ul>

    <div class="col-md-3 text-end dropdown">
      {% if user.is_authenticated %}
      <a href="#" class="dropdown-toggle text-decoration-none link-dark" id="dropdownuser" data-bs-toggle="dropdown" aria-expanded="false">
     Welcome, {{ user.fullname}}
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownuser" style="">

          <li><a class="dropdown-item" href="{% url 'profile' user.id %}">Profile</a></li>
          {% if request.user.shelter_admin %}
          <li><a href="/paws/new" class="dropdown-item">Add Animals</a></li>
          <li><a href="/shelter/new" class="dropdown-item">Add Shelter</a></li>
          {% endif %}
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/logout">Sign out</a></li>
        </ul>
      {% else %}
      <a href="/login" class="text-decoration-none">
      <button type="button" class="btn btn-outline-primary me-2">Login</button>
      </a>
      <a href="/signup" class="text-decoration-none">
      <button type="button" class="btn btn-primary">Sign-up</button>
      </a>
      {% endif %}
    </div>
  
  </header>




<div class="background-image-dog"  style="background-image:url('../static/images/ac.png'); height: 400px; background-size:cover; background-repeat:no-repeat; text-align:center; position:relative;">
    <form style="position: absolute; top:50%;transform: translateY(-50%); width: 80%; margin-left:10%;" autocomplete="off">
            <h1 class="headertext">{{header}}</h1>
            <input type="text" name="name" placeholder="Search by name" class="searchbar"/>
            <button type="submit" class="btn btn-primary" id="listsearchbtn"> Search </button>
    </br>
        <a href="{% url 'cat_list' %}" style="color:white;">Clear Search</a>     
    </form> 
</div>

<div class="row align-itmes-start m-4">
    {% for cat in cats %}
    <div class="col-lg-3 justify-content-center text-center" id="pawscard">
    <div class="card">
        <img class="card-img-top" src = "https://res.cloudinary.com/skim121/image/upload/c_fill,g_face,h_650,w_650/{{cat.image}}" alt="{{cat.name}} image">
        <div class="card-body">
            <h3 class="card-title" id="listcardtitle">{{cat.name}}</h3>
            <div class="row" style="font-size: large;">
                    <p>{{cat.age}} old </br>
                    {{cat.sex}} </br>
                    {{cat.weight}} lbs</p>
            </div>
                <p><span style="font-weight:bold;">In shelter since: </span></br>
                    {{cat.day_entered}}</p>
           
            <a href="{% url 'paws_detail' cat.pk %}">
                <button class="btn btn-outline-primary">
                    See More
                </button>
            </a>
        </div>
    </div>
    </div>
    {% endfor %}
</div>

{% endblock %}