{% extends 'base.html' %}

{% block content %}
    <form>
    <div>
        <!-- searches for the name of the cat -->
        <input type="text" name="name" placeholder="Search by name, sex, or breed"/>
        <input type="submit" value="Search"/>
    </div>
    <a href="{% url 'dog_list' %}">Clear Search</a>
</form> 

    <h1>{{header}}</h1>
    {% for dog in dogs %}
    <h3>Name: {{dog.name}}</h3>
    <h3>Age: {{dog.age}}</h3>
    <img src = "https://res.cloudinary.com/skim121/image/upload/c_thumb,g_face,h_150,w_150/{{dog.image}}" alt="{{dog.name}}">
    <a href="{% url 'paws_detail' dog.pk %}">See More</a>
    {% endfor %}
{% endblock %}