{% extends 'base.html' %}

{% block content %}
<div class="background-image-dog"  style="background-image:url('../static/images/ad1.png'); height: 400px; background-size:cover; background-repeat:no-repeat; text-align:center; position:relative;">
    <form style="position: absolute; top:50%;transform: translateY(-50%); width: 80%; margin-left:10%;" autocomplete="off">
            <h1 class="headertext">{{header}}</h1>
            <input type="text" name="name" placeholder="Search by name" class="searchbar"/>
            <button type="submit" class="btn btn-primary" id="listsearchbtn"> Search </button>
    </br>
        <a href="{% url 'dog_list' %}" style="color:white;">Clear Search</a>     
    </form> 
</div>

<div class="row align-itmes-start m-4">
    {% for dog in dogs %}
    <div class="col-lg-3 justify-content-center text-center" id="pawscard">
    <div class="card">
        <img class="card-img-top" src = "https://res.cloudinary.com/skim121/image/upload/c_fill,g_face,h_650,w_650/{{dog.image}}" alt="{{dog.name}} image">
        <div class="card-body">
            <h3 class="card-title" id="listcardtitle">{{dog.name}}</h3>
            <div class="row" style="font-size: large;">
                    <p>{{dog.age}} old </br>
                    {{dog.sex}} </br>
                    {{dog.weight}} lbs</p>
            </div>
                <p><span style="font-weight:bold;">In shelter since: </span></br>
                    {{dog.day_entered}}</p>
            
            <!-- <p class="row card-text">
                Age: {{dog.age}} old </br>
                Sex: {{dog.sex}}</br>
                <span style="font-weight:bold;">In shelter since: </span></br>
                {{dog.day_entered}}
            </p> -->
            <a href="{% url 'paws_detail' dog.pk %}">
                <button class="btn btn-outline-primary">
                    See More
                </button>
            </a>
        </div>
    </div>
    </div>
    {% endfor %}
</div>

{% endblock %}