{% extends 'base.html' %}

{% block content %}
<div class="background-image-dog"  style="background-image:url('../static/images/ad1.png'); height: 400px; background-size:cover; background-repeat:no-repeat; text-align:center; position:relative;">
    <form style="position: absolute; top:50%;transform: translateY(-50%); width: 80%; margin-left:10%;">
            <h1 class="headertext">{{header}}</h1>
            <input type="text" name="name" placeholder="Search by name, sex, or breed" class="searchbar"/>
            <button type="submit" class="btn btn-primary" id="listsearchbtn"> Search </button>
    </br>
        <a href="{% url 'dog_list' %}" style="color:white;">Clear Search</a>     
    </form> 
</div>
    
    {% for dog in dogs %}
    <h3>Name: {{dog.name}}</h3>
    <h3>Age: {{dog.age}}</h3>
    <img src = "https://res.cloudinary.com/skim121/image/upload/c_thumb,g_face,h_150,w_150/{{dog.image}}" alt="{{dog.name}}">
    <a href="{% url 'paws_detail' dog.pk %}">See More</a>
    {% endfor %}
{% endblock %}