{% extends 'base.html' %}

{% block title %}
LifeTimePaws 
{% endblock %}

{% block content %}

    <div class="container-fluid px-0 mb-4" id="maincontainer">
            <div class="background-image"  style="background-image:url('./static/images/dogmain.png'); width:100%; height:100%; background-size:cover; background-repeat:no-repeat; text-align:center; padding-top:15%; padding-bottom:15%; padding-left:20%; padding-right:20%; box-shadow: 0px 5px 12px #a1a0a0"> 
                <div>
                <h4 class="taglinesub">Their time is running out.</h4>
                <h4 class="taglinesub">You can paws their countdown.</h4>
                </br>
                <a href="/about" class="btn btn-primary link-dark text-decoration-none" style=" padding: 1% 7%;">Learn More</a>
                </div>
            </div>  
        
    </div>

    <div class="container">
        <div class="row">
          <div class="col-sm" id="stats">
            <h4 class="highlight-stats">6.3 million</h4>
            <p class="statstext">
                animals enter shelter every year </br>
                <span class="source">(Source: ASPCA)</span>
             </p> 
          </div>
          <div class="col-sm" id="stats">
            <h4 class="highlight-stats">920,000</h4>
            <p class="statstext">
                shelter animals get euthanized every year </br>
                <span class="source">(Source: ASPCA)</span>
             </p> 
          </div>
          <div class="col-sm" id="stats">
            <h4 class="highlight-stats">Less than 10%</h4>
            <p class="statstext">
                of euthanized animals had life-threatening conditions </br>
                <span class="source">(Source: SPOTs)</span>
             </p> 
          </div>
        </div>
    </div>
    
    <div class="meetdiv">
        <img src="./static/images/whitepaws.png" style=" width:50px; height:50px;" class="whitepaw">
        <h2 class="meet">Meet your potential lifetime companion </br>(Top 5 most urgent need)
        </h2>
    </div>
    

    <div class="row" id="homepaws">
        {% for animal in paws %}
        <div class="col-md-2 justify-content-center" id="pawscard">
        <a href="{% url 'paws_detail' animal.pk %}" class="text-decoration-none" id="clickpaws" >
        <div class="card" id="homecards">
            <img class="card-img-top" id="homecardimg" src = "https://res.cloudinary.com/skim121/image/upload/c_fill,g_face,h_1000,w_1000/{{animal.image}}" alt="{{animal.name}} image">
            <div class="card-body">
                <h3 class="card-title">{{animal.name}}</h3>
                <p class="card-text">Due date: </br>
                    {{animal.due_date}}</p>
            </div>
        </div>
        </a>
        </div>
        {% endfor %}
    </div>
</br>
    <div class="background-image"  style="background-image:url('./static/images/ht2.png'); height:550px; background-size:cover; background-repeat:no-repeat; text-align:center;"> 
        <h1 class="how"> How you can help </h1>
        <div class="row" id="squares">
            <div class="col-md-2" id="sqr">
                <h1 class="text-break text-uppercase boxtext">Adopt</h1>
            </div>
            <div class="col-md-2" id="sqr">
                <h1 class="text-break text-uppercase boxtext">Travel</h1>
            </div>
            <div class="col-md-2" id="sqr">
                <h1 class="text-break text-uppercase boxtext">Donate</h1>
            </div>
        </div>


    </br>
</br>
</br>
</br>
</br>



    </div>

{% endblock %}


