{% extends 'base.html' %}

{% block title %}
LifeTimePaws 
{% endblock %}

{% block content %}
    <div class="container-fluid px-0 mb-4" id="maincontainer">
            <div class="background-image"  style="background-image:url('./static/images/dogmain.png'); width:100%; height:100%; background-size:cover; background-repeat:no-repeat; text-align:center; padding-top:15%; padding-bottom:15%; padding-left:20%; padding-right:20%; box-shadow: 0px 5px 12px #a1a0a0"> 
                <div>
                <h4 class="taglinesub">Their time is running out.</h4>
                <h4 class="taglinesub">You can paws their countdown.</h4>
                </br>
                <a href="/signup" class="btn btn-primary link-dark text-decoration-none" style=" padding: 1% 7%;">Learn More</a>
                </div>
            </div>  
        
    </div>
</br>

    <div class="container">
        <div class="row">
          <div class="col-sm" id="stats">
            <h4 class="highlight-stats">6.3 million</h4>
            <p class="statstext">
                animals enter shelter every year </br>
                <span class="source">(Source: ASPCA)</span>
             </p> 
          </div>
          <div class="col-sm" id="stats">
            <h4 class="highlight-stats">920,000</h4>
            <p class="statstext">
                shelter animals get euthanized every year </br>
                <span class="source">(Source: ASPCA)</span>
             </p> 
          </div>
          <div class="col-sm" id="stats">
            <h4 class="highlight-stats">Less than 10%</h4>
            <p class="statstext">
                of euthanized animals had life-threatening conditions </br>
                <span class="source">(Source: SPOTs)</span>
             </p> 
          </div>
        </div>
      </div>
    

      <h2 class="meet">Meet your potential lifetime companion</h2>

      <div class="row">
        <div class="col">col</div>
        <div class="col">col</div>
        <div class="col">col</div>
        <div class="col">col</div>
      </div>
      
    {% for animal in paws %}
    <a href="{% url 'paws_detail' animal.pk %}">
    <img src = "https://res.cloudinary.com/skim121/image/upload/c_thumb,g_face,h_150,w_150/{{animal.image}}" alt="{{animal.name}}">
    <h3>Name: {{animal.name}}</h3>
    <h3>Due date: {{animal.due_date}}</h3>
    </a>
    {% endfor %}

{% endblock %}

<!-- HTML !-->
<button class="button-81" role="button">Button 81</button>

