{% extends 'base.html' %} 

{% block content %}

<div>
    <h1>More about {{animal.name}}</h1>
    <img src = "https://res.cloudinary.com/skim121/image/upload/c_fill,g_face,h_350,w_350/{{animal.image}}" alt="{{animal.name}}">
    <h3> Breed: {{animal.breed}} </h3>
    <h3> Age: {{animal.age}} </h3>
    <h3> Sex: {{animal.sex}} </h3>
    <h3> Weight: {{animal.weight}} </h3>
    <h3> Description: {{animal.description}}</h3>
    <h3> Current shelter: <a href= "/shelter/{{animal.shelter.pk}}" > {{animal.shelter}} </a></h3>
    <h3> Days in shelter: {{animal.days_in_shelter}} </h3>
    <h3> Due date: {{animal.due_date}} </h3>

    {% if request.user.shelter_admin %}
    <a href="{% url 'animal_update' animal.pk %}">Edit</a>
    <a href="{% url 'animal_delete' animal.pk %}">Delete</a>
    {% endif %}

    {% if request.user.is_authenticated %}
    <a href="{% url 'favorite_add' animal.id %}">Add to favorites</a>
    {% else %}
    <a href="/signup">Add to favorites</a>
    {% endif %}

</div>



{% endblock %}