{% extends 'baseneutral.html' %} 
{% load bootstrap_icons %}
{% block title %}
LifeTimePaws | {{animal.name}}
{% endblock %}

{% block content %}
</br>
<div class="container" style="margin-bottom: 10%;"> 
    <div class="dflex" style="float:right;">
        {% if request.user.shelter_admin %}
        <a href="{% url 'animal_update' animal.pk %}" class="editicon">{% bs_icon 'pencil' size='2em' %} </a>
        <a href="{% url 'animal_delete' animal.pk %}" class="deleteicon">{% bs_icon 'trash' size='2em' %} </a>
        {% endif %}
    </div>

    <h1 id="pawsname">More about <span class="hlname">{{animal.name}}</span></h1>
<div class="d-flex row justify-content-lg-center">
    <div class="col-lg-6 dflex" id="pagehalf">
        <div class="card mb-4">
        <img src = "https://res.cloudinary.com/skim121/image/upload/c_fill,g_face,h_400,w_400/{{animal.image}}" alt="{{animal.name}}">
    <div id="pawsshelterinfo">
        <h5><span id="bold"> {% bs_icon 'house-heart' size='1em' %}&nbsp; Current shelter:</span>  <a href= "/shelter/{{animal.shelter.pk}}" id="shelterlink" > &nbsp; {{animal.shelter}} </a></h5>
        <h5> <span id="bold"> {% bs_icon 'calendar-minus' size='1em' %}&nbsp; Shelter entrance: &nbsp; </span>{{animal.day_entered}} </h5>
        <h5> <span id="bold"> {% bs_icon 'hourglass-split' size='1em' %}&nbsp; Due date:&nbsp;  </span>{{animal.due_date}} </h5>
    </div>
</div>
    </div>
    <div class="col-lg-6 dflex" id="pagehalf">
        <h4 id="adddetes"> Additional Details</h4> 
        <h5> <span id="bold">Age: </span> {{animal.age}} old </h5>
        <h5> <span id="bold">Sex:  </span>{{animal.sex}} </h5>
        <h5> <span id="bold">Weight: </span> {{animal.weight}} lbs</h5>
        <h5> <span id="bold"> Breed(Looks like): </span> {{animal.breed}} </h5>
        <hr>
        <h4 id="boldme"> About Me </h4>
        <h5>{{animal.description|safe}}</h5>
        <hr>
        <h5 id="pawswatch"> Number of users watching: {{animal.favorites.count}} </h5>
<div id="adoptbtns">

    {% if request.user.is_authenticated %}
        {% if is_fav %}
    <a href="{% url 'favorite_add' animal.id %}"><button class="btn btn-outline-primary"> Unwatch Me </button></a>  
        {% else %}
    <a href="{% url 'favorite_add' animal.id %}"><button class="btn btn-outline-primary"> Watch Me </button></a> 
        {% endif %}
    {% else %}
    <a href="/signup"><button class="btn btn-outline-primary"> Watch Me </button></a>
    {% endif %}
    &nbsp;
    <a href = "{{animal.shelter.website}}">
        <button class="btn btn-primary"> Adopt Me </button>
    </a>
</div>
    </div>
</div>
</div>
  
{% endblock %}