{% extends 'baseneutral.html' %}
{% load crispy_forms_tags %}

{% block title %}
LifeTimePaws | Shelter register
{% endblock %}

{% block content %}
</br>
	<h1 class="h1add">Add New Shelter</h1>
</br>
	<div class="createform p-4">
        <form method="POST" enctype="multipart/form-data" autocomplete="off" style="color:white; font-weight: bold;">
            {% csrf_token %} 
            {{form|crispy}}
            <div class="buttons mt-4">
                <button class="btn btn-outline-primary" id="cancel" type = "reset">Reset</button>
                <button class="btn btn-primary" id="addbtn" type = "submit">Submit</button>
            </div>    
        </form>
    </div>
</br>
</br>
</br>
</br>
</br>
</br>




{% endblock %}