{% extends 'baseneutral.html' %} 


{% block title %}
LifeTimePaws | Shelter detail
{% endblock %}

{% block content %}
<div>
    <img src = "https://res.cloudinary.com/skim121/image/upload/c_scale,w_0.8/{{shelter.image}}" alt="{{shelter.name}}">
    <h1>{{shelter.name}}</h1>
    <h3> Location: {{shelter.location}} </h3>
    <h3> This shelter is a {{shelter.kill}} shelter. </h3>
    <a href="{{shelter.website}}">Click here to visit their website</a>
</div>

{% if request.user.shelter_admin %}
<a href="{% url 'shelter_update' shelter.pk %}">Edit</a>
<a href="{% url 'shelter_delete' shelter.pk %}">Delete</a>
{% endif %}

{% endblock %}