{% extends 'base2.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
<div class="row justify-content-evenly align-items-center mx-0">
    <div class="col-lg vh-100 px-0">
        <img class="w-100 img-fluid" src="/static/images/dog3.jpg"/>
   </div>
   
   <div class="col-lg">
   <form action="" method="post" id="registerform" autocomplete="off">
       {% csrf_token %}
       <div>
           <h1>LifeTime Paws</h1>
        </br>
           <h3>Sign Up</h3>

           {{ form |crispy }}

           <!-- <input type="email" name = "email" placeholder="Email address">
           <input type="text" name ="fullname" placeholder="Fullname">
           <input type="password" name="password1" placeholder="Password" required>
           <input type="password" name="password2" placeholder="Confirm password" required>
           <input type="checkbox" name="shelteradmin" placeholder = "shelter_admin">Are you a shelter worker?</input>  -->
           <!-- <ul>
               <li>Your password can’t be too similar to your other personal information.</li>
               <li>Your password must contain at least 8 characters.</li>
               <li>Your password can’t be a commonly used password.</li>
               <li>Your password can’t be entirely numeric.</li>
           </ul> -->
        </div>
        {% for field in signup_view %}
        <p>
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}    
        </p>
        {% endfor %} 
        {% if signup_view.non_field_errors %}
        <p>{{signup_view.non_field_errors</p>
        {% endif %} 
        <button type="submit" class="btn btn-primary btn-block" id="signupbtn">Sign up</button>
   </form>
    </div>
    
</div>
</div>

   <!-- <button type="submit" form = "registerform" value="Submit">Sign Up</button> -->

{% endblock %} 

