{% extends 'base.html' %}
{% load static %}

{% block content %}

   <h1>Sign up</h1>
   <form action="" method="post" id="registerform">
       {% csrf_token %}
       <div>
           {{ form.as_p}}
           <!-- <input type="email" name = "email" placeholder="Email address">
           <input type="text" name ="fullname" placeholder="Fullname">
           <input type="password" name="password1" placeholder="Password" required>
           <input type="password" name="password2" placeholder="Confirm password" required>
           <input type="checkbox" name="shelteradmin" placeholder = "shelter_admin">Are you a shelter worker?</input>  -->
           <!-- <ul>
               <li>Your password can’t be too similar to your other personal information.</li>
               <li>Your password must contain at least 8 characters.</li>
               <li>Your password can’t be a commonly used password.</li>
               <li>Your password can’t be entirely numeric.</li>
           </ul> -->
        </div>
        {% for field in signup_view %}
        <p>
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}    
        </p>
        {% endfor %} 
        {% if signup_view.non_field_errors %}
        <p>{{signup_view.non_field_errors</p>
        {% endif %} 
        <input type="submit" value = "Submit">
   </form>

   <!-- <button type="submit" form = "registerform" value="Submit">Sign Up</button> -->

{% endblock %} 

